<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bulma.css') }}"/>
        <style>
            table, tr, th, td{
                padding: 10px;
            }
            .cellcore{
                text-align: center;
                vertical-align: middle;
            }
            .cellmid{
                vertical-align: middle;
            }
        </style>
    </head>
    <body class="layout-default">
        {% block content %}{% endblock %}
    </body>
</html>
