{% extends "base.html" %}
{% block content %}
<section class="section">
    <div class="content">
        <h1 class="is-size-1 has-text-centered">{{ title }}</h1>
        {% if model_name == 'users' %}
            <h4 class="is-size-4 has-text-centered"><a href="{{ url_for('user_profile') }}">Back to Profile</a></h4>
        {% else %}
            <h4 class="is-size-4 has-text-centered">
                <a href="{{ url_for('index') }}" class="button is-large">
                    <span class="icon is-large is-danger">
                        <i class="fas fa-home"></i>
                    </span>
                </a>
            </h4>
        {% endif %}
        {% if model_name != 'users' %}
        <nav class="level is-mobile">
            <!--<div class="level-left">-->
            <!--<div class="level-item has-text-centered">-->
            <!--<h1>Hello {{ username }}</h1>-->
            <!--</div>-->
            <!--</div>-->

            <div class="level-item has-text-centered">
                <a class="button" href="{{ url_for('ship_view') }}">Ships</a>
            </div>
            <div class="level-item has-text-centered">
                <a class="button" href="{{ url_for('ship_type_view') }}">Ship Types</a>
            </div>
            <div class="level-item has-text-centered">
                <a class="button" href="{{ url_for('ship_status_view') }}">Ship Statuses</a>
            </div>
            <div class="level-item has-text-centered">
                <a class="button" href="{{ url_for('engine_view') }}">Engines</a>
            </div>
            <div class="level-item has-text-centered">
                <a class="button" href="{{ url_for('builder_view') }}">Builders</a>
            </div>
        </nav>
        {% endif %}
        <nav class="level is-mobile">
            <div class="level-left">
                <div class="level-item has-text-left">
                    {% if authenticated %}
                    <a class="button is-primary" href="{{ url_for(model_name + '_create') }}">
                        <span class="icon is-small"><i class="fas fa-plus"></i></span>
                        <span>Create</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="level-right">
                <div class="level-item has-text-right">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for msg in messages %}
                    <span class="help {{ msg[0] }}">{{ msg[1] }}; </span>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </nav>
        <table class="table is-bordered" style="width:100%">
            <thead>
            <tr>
                <th style="width:3%">No</th>
                {% for ch in cap_headers if ch != 'Id' %}
                <th>{{ ch }}</th>
                {% endfor %}
                {% if authenticated %}
                <th style="width:15%">Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for counter, d in enumerate(data, 1) %}
            <tr>
                <td>{{ counter }}</td>
                {% for h in headers if h != 'id' %}
                <td>
                    {% if type(d[h]) is is_list %}
                    <a href="{{ d[h][1] }}">{{ d[h][0] }}</a>
                    {% else %}
                    {{ d[h] }}
                    {% endif %}
                </td>
                {% endfor %}
                {% if authenticated %}
                <td>
                    {% if model_name != 'users' %}
                    <a class="button is-info" href="{{ url_for(model_name + '_update', rec_id=d['id']) }}">
                        <span class="icon is-small">
                          <i class="fas fa-pen"></i>
                        </span>
                        <span>Update</span>
                    </a>
                    {% endif %}

                    {% if (model_name == 'users' and d['id'] != user.id) or model_name != 'users' %}
                    <a class="button is-danger" href="{{ url_for(model_name + '_delete', rec_id=d['id']) }}">
                        <span>Delete</span>
                        <span class="icon is-small">
                          <i class="fas fa-times"></i>
                        </span>
                    </a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
