{% extends "base.html" %}

{% block content %}
<section class="hero is-fullheight is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <article class="card has-background-light">
                    <div class="card-content">
                        <form method="post" action="" novalidate>
                            {{ form.hidden_tag() }}
                            <h1 class="title has-text-centered">Change Password</h1>
                            <div class="field">
                                {{ form.old_password.label(class="label") }}
                                <div class="control">{{ form.old_password(class="input is-info", size=32) }}</div>
                                {% if form.old_password.errors %}
                                    <p class="help is-danger">{{'\n'.join(form.old_password.errors) }}</p>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.new_password.label(class="label") }}
                                <div class="control">{{ form.new_password(class="input", size=32) }}</div>
                                {% if form.new_password.errors %}
                                    <p class="help is-danger">{{'\n'.join(form.new_password.errors) }}</p>
                                {% endif %}
                            </div>
                            <div class="field has-text-centered">
                                <nav class="level">
                                    <nav class="level-item has-text-centered">
                                        <input type="submit" class="button is-primary" value="Update Password"/>
                                    </nav>
                                    <nav class="level-item has-text-centered">
                                        <a class="button" href="{{ url_for('user_profile') }}">Back</a>
                                    </nav>
                                </nav>
                            </div>
                            <div class="has-text-centered">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                    <li><p class="help is-danger">{{ message }}</p></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}
